Repository ezcall100/logistics-lynx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devops-leads, @platform-team, @frontend-team, @backend-team, @security-team

.github/CODEOWNERS:

# Global owners
* @devops-leads

# Pipeline and deployment ownership
/.github/workflows/ @devops-leads @platform-team
/deployment/ @platform-team @devops-leads

# Application code ownership
/src/ @frontend-team @backend-team
/logistics-lynx/ @frontend-team @backend-team

# Configuration and documentation
/package.json @devops-leads
/package-lock.json @devops-leads
/tsconfig.json @frontend-team
/.eslintrc* @frontend-team
/.prettierrc* @frontend-team

# Infrastructure and orchestration
/orchestration/ @platform-team
/src/agents/ @platform-team
/src/autonomous/ @platform-team

# Security and compliance
/.github/security/ @security-team @devops-leads
/.github/dependabot.yml @devops-leads

# Documentation
/README.md @devops-leads
/*.md @devops-leads

UPDATE: Revise MCPProgressDashboard to improve project tracking with updated agent assignments and estimated completion dates; reset overall progress and portal statuses for new planning phase.
  scripts/mcp-reset-all-portals-complete.mjs
Owners: @devops-leads

UPDATE: Revise MCPProgressDashboard to reset all portal statuses and progress to zero for a new planning phase; update agent assignments and estimated completion dates for improved project tracking.
  mcp-server/src/MCPProgressDashboard.tsx
Owners: @devops-leads

UPDATE: Reset portal progress and statuses in MCPProgressDashboard for the Enterprise Starter Kit phase; enhance agent efficiency metrics and remove blockers to reflect active deployment efforts.
  MCP_250_AGENTS_ENTERPRISE_FILES_BRIEFING.md
  mcp-server/src/MCPProgressDashboard.tsx
  scripts/mcp-agents-read-enterprise-files.mjs
Owners: @devops-leads

UPDATE: Modify MCPProgressDashboard to accurately display agent statuses by excluding the Watchdog Agent from total counts, ensuring clearer metrics and consistent reporting.
  WATCHDOG_AGENT_COMPLETE_FILE_LIST.md
  WATCHDOG_AGENT_CONSOLIDATED_BRIEFING.md
  WATCHDOG_AGENT_FILE_LIST.md
  scripts/watchdog-agent-complete-file-reading-list.mjs
Owners: @devops-leads

UPDATE: Refine MCPProgressDashboard by improving the execution timeline section for better visualization of project phases and milestones. Enhance recent updates handling for clearer project tracking.
  scripts/test-mcp-agents-code-review-tracking.mjs
Owners: @devops-leads

Clean up temporary test files - Removed ThemeTest.tsx debug component - Removed test-dark-mode.html standalone test file - All temporary debugging files cleaned up
  src/components/ThemeTest.tsx
  test-dark-mode.html
Owners: @frontend-team, @backend-team, @devops-leads

Fix syntax error in TrustedBy.tsx - Removed extra closing brace that was causing Babel parser error - Fixed line 194 syntax issue - All portals should now load without syntax errors
  src/components/DemoForm.tsx
  src/components/EcosystemGrid.tsx
  src/components/FeaturesSection.tsx
  src/components/HeroSection.tsx
  src/components/TrustedBy.tsx
Owners: @frontend-team, @backend-team

Fix ESLint errors and JSX structure
  scripts/fix-remaining-build-errors-final.mjs
  src/App-complex.tsx
  src/components/EcosystemGrid.tsx
  src/components/FeaturesSection.tsx
  src/components/HeroSection.tsx
  src/components/TrustedBy.tsx
  src/components/common/ThemeToggle.tsx
  src/components/super-admin/PortalThemeManager.tsx
  src/components/super-admin/RoleBasedAccessControl.tsx
  src/design-system/ThemeProvider.tsx
  src/design-system/color-palette.ts
  src/pages/portals/crm/CRMPortal.tsx
  src/pages/portals/mcp-agents/MCPAgentsPortal.tsx
  src/pages/portals/workers/WorkersPortal.tsx
Owners: @devops-leads, @frontend-team, @backend-team

Complete Dark Mode Compliance Implementation
  src/index.css
  src/pages/portals/super-admin/SuperAdminPortal.tsx
Owners: @frontend-team, @backend-team

Fix All Dark Mode Inconsistencies - Complete Compliance
  src/pages/portals/super-admin/SuperAdminPortal.tsx
Owners: @frontend-team, @backend-team

Complete Redesign: CRM Command Center, Recent Activity & Portal Control Center
  src/pages/portals/super-admin/SuperAdminPortal.tsx
Owners: @frontend-team, @backend-team

Fix CRM Command Center Design Issues
  src/pages/portals/super-admin/SuperAdminPortal.tsx
Owners: @frontend-team, @backend-team

Add AI Chatbot FAB (Trans Bot) - Bottom Right Corner
  src/pages/portals/super-admin/SuperAdminPortal.tsx
Owners: @frontend-team, @backend-team

Create Fully Functional Trans Bot AI Chatbot
  src/pages/portals/super-admin/SuperAdminPortal.tsx
Owners: @frontend-team, @backend-team

refactor: Enhance Super Admin Portal with improved UI components and layout adjustments
  accelerated-mcp-301-agents-12hours.cjs
  mcp-301-agents-12hour-progress-monitor.cjs
Owners: @devops-leads

fix: Resolve UI inconsistencies and enhance accessibility in Super Admin Portal
  check-mcp-agents-actual-status.cjs
  mcp-301-agents-final-status.cjs
  mcp-server/agent-runner.js
  mcp-server/working-agent.js
  simple-mcp-agents-status.cjs
  start-mcp-301-agents-actual.cjs
Owners: @devops-leads

fix: Fix TypeScript error in CompleteCommunicationHub component
  mcp-301-agents-complete-superadmin-everything.cjs
  src/components/super-admin/CompleteCommunicationHub.tsx
  src/components/super-admin/forms/UserRegistrationForm.tsx
Owners: @devops-leads, @frontend-team, @backend-team

fix: Fix TypeScript error in EnhancedUserManagement component
  src/App.tsx
  src/components/super-admin/EnhancedUserManagement.tsx
  src/pages/SuperAdminIndex.tsx
  src/pages/portals/super-admin/MCP301AgentsWorking.tsx
  start-all-ports.cjs
  vite.config.ts
Owners: @frontend-team, @backend-team, @devops-leads

refactor: Update test page and Super Admin components for MCP 301 Agents
  public/super-admin.html
  public/test.html
  src/pages/SuperAdminIndex.tsx
  src/pages/portals/super-admin/MCP301AgentsWorking.tsx
Owners: @devops-leads, @frontend-team, @backend-team

fix: Fix TypeScript error in RealUserManagement component
  public/super-admin.html
  src/pages/portals/super-admin/RealCompanyManagement.tsx
  src/pages/portals/super-admin/RealUserManagement.tsx
  super-admin-portal/vite.config.ts
  vite.config.ts
Owners: @devops-leads, @frontend-team, @backend-team

feat: Add comprehensive company settings management system
  src/components/super-admin/settings/CompanySettings.tsx
  src/pages/portals/super-admin/CompanyAPISettings.tsx
  src/pages/portals/super-admin/CompanyBillingSettings.tsx
  src/pages/portals/super-admin/CompanySettingsMain.tsx
Owners: @frontend-team, @backend-team

MCP 301 Agents: Fixed all ESLint errors - Replaced 'any' types with proper interfaces and fixed 'User' interface conflicts
  src/components/super-admin/settings/CompanySettings.tsx
  src/pages/portals/super-admin/CompanyAPISettings.tsx
  src/pages/portals/super-admin/CompanyBillingSettings.tsx
  src/pages/portals/super-admin/CompanySettingsMain.tsx
Owners: @frontend-team, @backend-team

fix: Fix TypeScript errors in SuperAdminPortal component
  src/pages/portals/super-admin/CompanySettingsMain.tsx
  src/pages/portals/super-admin/SuperAdminPortal.tsx
Owners: @frontend-team, @backend-team

feat: Add comprehensive super admin layout system
  src/components/super-admin/OptimizedHeader.tsx
  src/components/super-admin/ResponsiveSidebar.tsx
  src/components/super-admin/layout/MobileSidebar.tsx
  src/components/super-admin/layout/SuperAdminHeader.tsx
  src/components/super-admin/layout/SuperAdminLayout.tsx
  src/components/super-admin/layout/SuperAdminMainContent.tsx
  src/components/super-admin/layout/SuperAdminRightSidebar.tsx
  src/components/super-admin/layout/SuperAdminSidebar.tsx
Owners: @frontend-team, @backend-team

fix: Resolve Super Admin routing conflicts and duplicate portals
  src/App.tsx
Owners: @frontend-team, @backend-team

cleanup: Remove duplicate Super Admin portals and consolidate routing
  src/App.tsx
  src/pages/SuperAdminIndex.tsx
  src/pages/portals/super-admin/EnhancedSuperAdminCommandCenter.tsx
  src/pages/portals/super-admin/EnhancedSuperAdminPortal.tsx
  src/pages/portals/super-admin/UltimateSuperAdminPortal.tsx
  src/pages/super-admin/EnterpriseSuperAdminPortal.tsx
Owners: @frontend-team, @backend-team

Fix final ESLint error in UserGroups.tsx - All 7 ESLint errors now resolved for User Management components
  check-all-301-agents-detailed.cjs
  mcp-301-agents-header-icon-added.cjs
  mcp-301-agents-line-by-line-progress.cjs
  mcp-301-agents-monitor-moved-to-header.cjs
  mcp-301-agents-real-time-activity.cjs
  mcp-301-agents-real-time-development.cjs
  mcp-301-agents-user-management-redesign-progress.cjs
  show-real-time-development.cjs
  src/components/super-admin/CompleteCommunicationHub.tsx
  src/components/super-admin/EnhancedUserManagement.tsx
  src/components/super-admin/RealTimeDevelopmentMonitor.tsx
  src/components/super-admin/forms/UserRegistrationForm.tsx
  src/components/super-admin/user-management/AllUsers.tsx
  src/components/super-admin/user-management/UserGroups.tsx
  src/components/super-admin/user-management/UserManagementDashboard.tsx
  src/components/super-admin/user-management/UserRoles.tsx
  src/pages/portals/super-admin/SuperAdminPortal.tsx
Owners: @devops-leads, @frontend-team, @backend-team

MCP 301 Agents: Fix all TypeScript and ESLint errors
  eslint-errors-fixed-summary.cjs
  src/components/super-admin/EnhancedUserManagement.tsx
  src/components/super-admin/RealTimeDevelopmentMonitor.tsx
  src/components/super-admin/ResponsiveSidebar.tsx
  src/components/super-admin/dashboard/ActiveUsers.tsx
  src/components/super-admin/forms/UserRegistrationForm.tsx
  src/components/super-admin/layout/MobileSidebar.tsx
  src/components/super-admin/layout/SuperAdminLayout.tsx
  src/components/super-admin/layout/SuperAdminSidebar.tsx
  src/components/super-admin/profile/ProfilePage.tsx
  src/components/super-admin/settings/CompanySettings.tsx
  src/components/super-admin/user-management/AllUsers.tsx
  src/components/super-admin/user-management/UserGroups.tsx
  src/components/super-admin/user-management/UserManagementDashboard.tsx
  src/components/super-admin/user-management/UserRoles.tsx
  src/pages/portals/super-admin/CompanyAPISettings.tsx
  src/pages/portals/super-admin/CompanyBillingSettings.tsx
  src/pages/portals/super-admin/MCP301AgentsWorking.tsx
  src/pages/portals/super-admin/RealCompanyManagement.tsx
  src/pages/portals/super-admin/RealUserManagement.tsx
Owners: @devops-leads, @frontend-team, @backend-team

feat: Extend sidebar components with additional properties
  src/components/super-admin/ResponsiveSidebar.tsx
  src/components/super-admin/layout/MobileSidebar.tsx
  src/components/super-admin/layout/SuperAdminLayout.tsx
  src/components/super-admin/layout/SuperAdminSidebar.tsx
Owners: @frontend-team, @backend-team

feat: Refactor SignupPage and enhance user data handling
  src/App-backup.tsx
  src/App-complex.tsx
  src/App-original.tsx
  src/App.tsx
  src/contexts/AuthContext.tsx
  src/index.css
  src/pages/SignupPage.tsx
  src/pages/auth/SignupPage.tsx
Owners: @frontend-team, @backend-team

Complete Super Admin redesign with Development & DevOps section - Fixed ESLint errors and added comprehensive CI/CD and Environment Management
  mcp-301-agents-completion-status-report.cjs
  mcp-301-agents-super-admin-redesign-complete.cjs
  src/components/super-admin/devops/CICDPipeline.tsx
  src/components/super-admin/devops/EnvironmentManagement.tsx
  src/components/super-admin/user-management/AccessControl.tsx
  src/pages/portals/super-admin/SuperAdminPortal.tsx
Owners: @devops-leads, @frontend-team, @backend-team

Complete Super Admin User Management Redesign - All 9 Pages - All ESLint errors fixed - Production ready
  mcp-301-agents-super-admin-completion-report.cjs
  mcp-301-agents-super-admin-redesign-complete.cjs
  src/components/super-admin/dashboard/ActiveUsers.tsx
  src/components/super-admin/development-devops/CICDPipeline.tsx
  src/components/super-admin/development-devops/DeploymentMonitoring.tsx
  src/components/super-admin/development-devops/DevOpsAnalytics.tsx
  src/components/super-admin/development-devops/EnvironmentManagement.tsx
  src/components/super-admin/development-devops/InfrastructureAsCode.tsx
  src/components/super-admin/devops/CICDPipeline.tsx
  src/components/super-admin/devops/EnvironmentManagement.tsx
  src/components/super-admin/profile/ProfilePage.tsx
  src/components/super-admin/settings/CompanySettings.tsx
  src/components/super-admin/user-management/AccessControl.tsx
  src/components/super-admin/user-management/BillingManagement.tsx
  src/components/super-admin/user-management/SupportTickets.tsx
  src/components/super-admin/user-management/UserAnalytics.tsx
  src/components/super-admin/user-management/UserOnboarding.tsx
  src/pages/portals/super-admin/SuperAdminPortal.tsx
Owners: @devops-leads, @frontend-team, @backend-team

Fix final ESLint error in EnvironmentManagement.tsx - All ESLint errors now resolved
  mcp-301-agents-final-completion-summary.cjs
  src/components/super-admin/development-devops/CICDPipeline.tsx
  src/components/super-admin/development-devops/DeploymentMonitoring.tsx
  src/components/super-admin/development-devops/DevOpsAnalytics.tsx
  src/components/super-admin/development-devops/EnvironmentManagement.tsx
  src/components/super-admin/development-devops/InfrastructureAsCode.tsx
Owners: @devops-leads, @frontend-team, @backend-team

Complete port configuration and service setup
  eslint-errors-fixed-final.cjs
  package.json
  scripts/port-setup.mjs
  scripts/start-all-services.mjs
  server/mcp-dashboard-server.js
  server/portal-login-server.js
  server/super-admin-server.js
  verify-all-ports-running.cjs
Owners: @devops-leads

Remove deprecated files and components related to MCP autonomous systems and dashboards
  MCP_CLEANUP_AND_ORGANIZATION_PLAN.md
  MCP_ORGANIZATION_COMPLETE_SUMMARY.md
  SUBDOMAIN_LOGIN_IMPLEMENTATION_COMPLETE.md
  SUBDOMAIN_LOGIN_STRUCTURE_PLAN.md
  mcp-24-7-autonomous.js
  mcp-advanced-realtime-dashboard.html
  mcp-agent-optimizer.js
  mcp-auto-commit-sync.js
  mcp-auto-error-fixer.js
  mcp-command-center-301-agents.html
  mcp-real-time-dashboard.html
  mcp-v2-redesign-executor.js
  mcp-v2-super-admin-redesign-executor.js
  port-setup-complete-summary.cjs
  server/mcp-dashboard-server.js
  server/super-admin-server.js
  src/components/SubdomainRouter.tsx
  src/components/super-admin/development-devops/DevOpsAnalytics.tsx
  src/components/super-admin/development-devops/EnvironmentManagement.tsx
  src/components/super-admin/user-management/AccessControl.tsx
  src/components/super-admin/user-management/BillingManagement.tsx
  src/components/super-admin/user-management/SupportTickets.tsx
  src/components/super-admin/user-management/UserAnalytics.tsx
  src/components/super-admin/user-management/UserOnboarding.tsx
  src/pages/LoginPage.tsx
  src/pages/SignupPage.tsx
  src/pages/login/CentralizedLoginPage.tsx
  src/pages/login/MCPLoginPage.tsx
  src/pages/login/SuperAdminLoginPage.tsx
  test-autonomous-agents-real.html
  test-mcp-simple-working.js
  test-mcp-working.html
Owners: @devops-leads, @frontend-team, @backend-team

Fix all TypeScript ESLint errors - Final commit
  COMPLETE_USER_FLOW_DOCUMENTATION.md
  MCP_AGENTS_LOCKED.json
  TMS_APPLICATION_CONSOLIDATION_PLAN.md
  TMS_DYNAMIC_FUNCTION_SYSTEM.md
  autonomous-development-config.json
  autonomous-development-status.html
  deployment-manifest.json
  n8n-workflows/enhanced-tms-autonomous-workflow.json
  scripts/autonomous-development-monitor.js
  server/mcp-server.js
  src/App.tsx
  src/components/super-admin/user-management/AllUsersPage.tsx
  src/components/super-admin/user-management/UserGroupsPage.tsx
  src/components/super-admin/user-management/UserRolesPage.tsx
  src/contexts/AuthContext.tsx
  src/pages/SignupPage.tsx
  src/pages/auth/RegistrationFlow.tsx
  src/pages/auth/RegistrationFlowNew.tsx
  src/pages/driver/DriverMobileApp.tsx
  src/pages/portals/super-admin/SuperAdminPortal.tsx
  src/pages/super-admin/MCPAgentIntegration.tsx
  src/pages/super-admin/UserManagement.tsx
  src/pages/tms/TMSCoreApplication.tsx
  src/routes/TMSRoutes.tsx
Owners: @devops-leads, @frontend-team, @backend-team

Refactor user management pages for improved readability and structure
  deploy-super-admin-production.ps1
Owners: @devops-leads

Refactor Super Admin Portal to API-only mode and update configurations
  server/super-admin-server.js
  src/App.tsx
  src/components/SubdomainRouter.tsx
  src/pages/NotFoundPage.tsx
  super-admin-portal/vite.config.ts
  vite.config.ts
Owners: @devops-leads, @frontend-team, @backend-team

Refactor User Management and Driver Mobile App for Improved Structure and Readability
  src/components/super-admin/user-management/UserGroupsPage.tsx
  src/components/super-admin/user-management/UserRolesPage.tsx
  src/pages/driver/DriverMobileApp.tsx
  src/pages/super-admin/MCPAgentIntegration.tsx
  src/pages/super-admin/UserManagement.tsx
  src/pages/tms/TMSCoreApplication.tsx
Owners: @frontend-team, @backend-team

Refactor User Management and Driver Mobile App for Type Safety and Clean Imports
  check-services.ps1
  final-status-check.ps1
  src/components/super-admin/mcp-agents/MCPOverview.tsx
  src/components/super-admin/user-management/UserGroupsPage.tsx
  src/components/super-admin/user-management/UserRolesPage.tsx
  src/pages/driver/DriverMobileApp.tsx
  src/pages/portals/super-admin/SuperAdminPortal.tsx
  src/pages/tms/TMSCoreApplication.tsx
Owners: @devops-leads, @frontend-team, @backend-team
