Repository ezcall100/logistics-lynx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devops-leads, @platform-team, @frontend-team, @backend-team, @security-team

Refactor Portal Navigation and Enhance User Experience
  portal-app/index.html
  portal-app/package-lock.json
  portal-app/package.json
  portal-app/postcss.config.js
  portal-app/src/App.tsx
  portal-app/src/index.css
  portal-app/src/main.tsx
  portal-app/tailwind.config.js
  portal-app/tsconfig.json
  portal-app/tsconfig.node.json
  portal-app/vite.config.ts
Owners: @devops-leads

Refactor App Component and Update CSS for Improved Portal Structure
  portal-app/src/AdminDashboard.tsx
  portal-app/src/App.tsx
  portal-app/src/SoftwareCompanyAdminDashboard.tsx
  portal-app/src/SuperAdminPortal.tsx
  portal-app/src/index.css
Owners: @devops-leads

Refactor App Component and Update SuperAdminPortal to EnterpriseSuperAdminPortal
  portal-app/src/App.tsx
  portal-app/src/EnhancedSuperAdminPortal.tsx
  portal-app/src/EnterpriseSuperAdminPortal.tsx
  portal-app/src/ModernSuperAdminPortal.tsx
  portal-app/src/SimpleSuperAdmin.tsx
  portal-app/src/TransBotAISuperAdmin.tsx
  portal-app/src/components/dashboard/CompanyTable.tsx
  portal-app/src/components/dashboard/KPICard.tsx
  portal-app/src/components/layout/FloatingActionButton.tsx
  portal-app/src/components/layout/Header.tsx
  portal-app/src/components/layout/Sidebar.tsx
  portal-app/src/data/mockData.ts
  portal-app/src/index.css
  portal-app/src/pages/DashboardPage.tsx
  portal-app/src/types/index.ts
Owners: @devops-leads

Enhance Portal Design and Update Cache Control
  portal-app/clear-cache.js
  portal-app/index.html
  portal-app/src/EnterpriseSuperAdminPortal.tsx
  portal-app/src/index.css
Owners: @devops-leads

Refactor Portal Components and Enhance Dark Mode Support
  portal-app/index.html
  portal-app/src/App.tsx
  portal-app/src/EnterpriseSuperAdminPortal.tsx
  portal-app/src/components/ThemeToggle.tsx
  portal-app/src/components/dashboard/CompanyTable.tsx
  portal-app/src/components/dashboard/KPICard.tsx
  portal-app/src/components/layout/EnhancedSearch.tsx
  portal-app/src/components/layout/FloatingActionButton.tsx
  portal-app/src/components/layout/Header.tsx
  portal-app/src/components/layout/Sidebar.tsx
  portal-app/src/components/layout/SystemStatusModal.tsx
  portal-app/src/contexts/ThemeContext.tsx
  portal-app/src/index.css
  portal-app/src/pages/DashboardPage.tsx
  portal-app/vite.config.ts
Owners: @devops-leads

Enhance Tailwind Configuration and Update Portal Components
  portal-app/src/EnterpriseSuperAdminPortal.tsx
  portal-app/src/components/ThemeDebugger.tsx
  portal-app/src/components/layout/EnhancedHeader.tsx
  portal-app/src/components/layout/EnhancedSidebar.tsx
  portal-app/src/contexts/ThemeContext.tsx
  portal-app/src/index.css
  portal-app/tailwind.config.js
Owners: @devops-leads

Refactor Portal Components and Improve Dark Mode Functionality
  test-mcp-api.js
Owners: @devops-leads

Enhance Vite Configuration and Add Development Scripts
  package.json
  portal-app/vite.config.ts
  scripts/ensure-single-dev.js
  vite.config.ts
Owners: @devops-leads

Update Vite Configuration and Logging for Clarity
  portal-app/vite.config.ts
  scripts/ensure-single-dev.js
  vite.config.ts
Owners: @devops-leads

Refactor ensure-single-dev script and enhance mcp-server functionality
  scripts/ensure-single-dev.js
  server/mcp-server.js
  test-encoding.js
Owners: @devops-leads

Update dependencies and enhance portal functionality
  .github/workflows/mcp_multi_build_and_deploy.yml
  package-lock.json
  portal-app/.github/workflows/continuous-deployment.yml
  portal-app/.stylelintrc.json
  portal-app/ABSOLUTE_FINAL_STATUS.md
  portal-app/COMPLETE_ERROR_RESOLUTION_SUMMARY.md
  portal-app/COMPLETE_PROBLEMS_EXPLANATION.md
  portal-app/ERROR_FIXES_SUMMARY.md
  portal-app/FINAL_ERROR_RESOLUTION_STATUS.md
  portal-app/FINAL_STATUS_REPORT.md
  portal-app/FINAL_WARNINGS_EXPLANATION.md
  portal-app/GITHUB_ACTIONS_WARNINGS_EXPLANATION.md
  portal-app/MISSION_COMPLETE.md
  portal-app/ULTIMATE_FINAL_STATUS.md
  portal-app/env.example
  portal-app/package-lock.json
  portal-app/package.json
  portal-app/src/components/charts/PortalUsageChart.tsx
  portal-app/src/components/charts/RevenueChart.tsx
  portal-app/src/components/charts/SystemHealthChart.tsx
  portal-app/src/components/layout/AutonomousHeader.tsx
  portal-app/src/components/layout/EnterpriseFAB.tsx
  portal-app/src/index.css
  portal-app/src/lib/supabase.ts
  portal-app/src/pages/DashboardPage.tsx
Owners: @devops-leads, @platform-team

Refactor Super Admin Portal and Update Docker Configuration
  .github/lint-ignore.yml
  DEPLOYMENT_COMPLETE.md
  Dockerfile
  FINAL_COMPLETION_REPORT.md
  README.md
  deploy.sh
  docker-compose.yml
  nginx.conf
  package-lock.json
  package.json
  portal-app/src/index.css
  src/components/super-admin/AICommandCenter.tsx
  src/components/super-admin/BillingManagement.tsx
  src/components/super-admin/CompanyManagement.tsx
  src/components/super-admin/GlobalSettings.tsx
  src/components/super-admin/PortalManagement.tsx
  src/components/super-admin/SecurityCompliance.tsx
  src/components/super-admin/UserManagement.tsx
  src/design-system/components/Button.tsx
  src/design-system/components/Card.tsx
  src/design-system/components/Input.tsx
  src/design-system/tokens.ts
  src/lib/utils.ts
  src/pages/super-admin/EnterpriseSuperAdminPortal.tsx
  src/pages/super-admin/SuperAdminPortal.tsx
  src/services/supabase.ts
  supabase/schema.sql
  vite.config.ts
Owners: @devops-leads, @frontend-team, @backend-team

Super Admin redesign complete
  PORT_LOCK_SYSTEM.md
  package-lock.json
  package.json
  portal-app/vite.config.ts
  scripts/port-protection.mjs
  server/mcp-server.js
  src/design-system/components/Button.tsx
  src/design-system/components/Card.tsx
  src/design-system/components/Form.tsx
  src/design-system/components/Input.tsx
  src/design-system/components/Layout.tsx
  src/design-system/components/Table.tsx
  src/design-system/theme.tsx
  src/design-system/tokens.ts
  src/index.css
  src/lib/utils.ts
  tall eslint-plugin-react --save-dev
  vite.config.ts
Owners: @devops-leads, @frontend-team, @backend-team

Refactor design system components for improved accessibility and performance
  src/design-system/components/Button.tsx
  src/design-system/components/Card.tsx
  src/design-system/components/Form.tsx
  src/design-system/components/Input.tsx
  src/design-system/components/Table.tsx
  src/lib/utils.ts
Owners: @frontend-team, @backend-team

Fix all ESLint errors: remove any type usage and react-refresh warning
  portal-app/src/EnterpriseSuperAdminPortal.tsx
  src/components/super-admin/Dashboard.tsx
  src/components/super-admin/ProfileSettings.tsx
  src/design-system/components/FloatingActionButton.tsx
  src/design-system/components/Header.tsx
  src/design-system/components/Sidebar.tsx
  src/design-system/utils/fabActions.ts
  src/pages/portals/super-admin/SuperAdminPortal.tsx
  src/pages/super-admin/SuperAdminPortal.tsx
Owners: @devops-leads, @frontend-team, @backend-team

PORT LOCK SYSTEM: Lock all critical ports
  PORT_LOCK_SYSTEM.md
  portal-app/src/EnterpriseSuperAdminPortal.tsx
  vite.config.ts
Owners: @devops-leads

Remove MCP Agent Integration Test Script
  MCP_AGENTS_LOCKED.json
  MCP_AGENTS_LOCK_SYSTEM.md
  scripts/lock-mcp-agents.mjs
  scripts/mcp-agents-monitor.mjs
  server/mcp-server.js
  src/design-system/components/Header.tsx
  test-mcp-agents.js
Owners: @devops-leads, @frontend-team, @backend-team

MCP AGENTS: Complete Enhanced Super Admin Portal Rebuild
  MCP_SUPER_ADMIN_COMPLETE_SYSTEM_PROMPT.md
  portal-app/src/EnterpriseSuperAdminPortal.tsx
  src/components/super-admin/EnhancedDashboard.tsx
  src/design-system/components/EnhancedFAB.tsx
  src/design-system/components/EnhancedHeader.tsx
  src/design-system/components/EnhancedSidebar.tsx
  src/design-system/tokens/designTokens.ts
  src/pages/portals/super-admin/EnhancedSuperAdminPortal.tsx
  src/pages/portals/super-admin/SuperAdminPortal.tsx
Owners: @devops-leads, @frontend-team, @backend-team

ULTIMATE SUPER ADMIN SYSTEM: Complete Enterprise Solution
  ULTIMATE_SUPER_ADMIN_SYSTEM.md
  src/components/super-admin/AICommandCenter.tsx
  src/components/super-admin/BusinessIntelligenceCenter.tsx
  src/components/super-admin/EnterpriseDashboard.tsx
  src/components/super-admin/MCPAgentOrchestrationCenter.tsx
  src/components/super-admin/PortalControlHub.tsx
  src/components/super-admin/SecurityWarRoom.tsx
  src/components/super-admin/SystemHealthMonitor.tsx
  src/pages/portals/super-admin/UltimateSuperAdminPortal.tsx
  vite.config.ts
Owners: @devops-leads, @frontend-team, @backend-team

PORTAL ARCHITECTURE: Complete 35+ Portal Ecosystem with RBAC and Custom Domains
  PORTAL_ARCHITECTURE_PLAN.md
  src/components/super-admin/AICommandCenter.tsx
  src/components/super-admin/BusinessIntelligenceCenter.tsx
  src/components/super-admin/EnterpriseDashboard.tsx
  src/components/super-admin/MCPAgentOrchestrationCenter.tsx
  src/components/super-admin/PortalControlHub.tsx
  src/components/super-admin/PortalThemeManager.tsx
  src/components/super-admin/RoleBasedAccessControl.tsx
  src/components/super-admin/SecurityWarRoom.tsx
  src/components/super-admin/SystemHealthMonitor.tsx
  src/data/portals.ts
  src/pages/portals/super-admin/UltimateSuperAdminPortal.tsx
  tatus
Owners: @devops-leads, @frontend-team, @backend-team

MCP GLOBAL COMMAND CHARTER: 250 Autonomous Agents Deployed for Complete Portal Ecosystem Development
  MCP_GLOBAL_COMMAND_CHARTER.md
  scripts/deploy-mcp-agents.mjs
  scripts/mcp-agent-execution-framework.mjs
  src/components/super-admin/MCPAgentStatusDashboard.tsx
Owners: @devops-leads, @frontend-team, @backend-team

MCP REAL-TIME MONITORING: Progress tracking tools to ensure agents complete their jobs
  scripts/check-mcp-progress.mjs
  scripts/mcp-real-time-monitor.mjs
  src/pages/MCPProgressDashboard.tsx
Owners: @devops-leads, @frontend-team, @backend-team

MCP AGENT SUPERVISOR: Agent #250 monitors all 249 agents and sends corrections when they're not working
  scripts/mcp-agent-notification-system.mjs
  scripts/mcp-agent-supervisor.mjs
Owners: @devops-leads

MCP 24/7 AUTONOMOUS SYSTEM: All 250 agents run continuously without human intervention
  scripts/mcp-24-7-autonomous-system.mjs
  scripts/mcp-master-control-panel.mjs
  scripts/mcp-zero-downtime-deployment.mjs
  scripts/start-all-mcp-systems.mjs
Owners: @devops-leads

MCP PROGRESS DASHBOARD: Added routing for MCP Progress Dashboard page
  src/App.tsx
Owners: @frontend-team, @backend-team

FIX: Agent Status numbers now add up correctly to 250 total agents
  src/App.tsx
  src/pages/MCPProgressDashboard.tsx
Owners: @frontend-team, @backend-team

FIX: MCP Dashboard date calculation and error handling to prevent blank page
  src/pages/MCPProgressDashboard.tsx
Owners: @frontend-team, @backend-team

SIMPLIFY: MCP Dashboard - removed complex calculations and animations to fix blank page
  src/pages/MCPProgressDashboard.tsx
Owners: @frontend-team, @backend-team

ULTRA-SIMPLE: MCP Dashboard with inline styles and console logging to debug blank page
  src/pages/MCPProgressDashboard.tsx
Owners: @frontend-team, @backend-team

PERMANENT PORT LOCKER: Complete system to lock ports 3000, 3001, 3005, 3006 permanently with Windows startup integration
  scripts/create-startup-task.bat
  scripts/manage-ports.mjs
  scripts/permanent-port-locker.mjs
  scripts/startup-port-locker.bat
Owners: @devops-leads

FIX: Ensure TransBot always starts on port 3000 with dedicated startup script
  scripts/start-port-3000.bat
Owners: @devops-leads

MINIMAL: Simplified App.tsx to debug blank page issue
  public/test.html
  src/App-backup.tsx
  src/App-minimal.tsx
  src/App-original.tsx
Owners: @devops-leads, @frontend-team, @backend-team

RESTORE: Full website restored - testing if original App.tsx works now
  src/App.tsx
Owners: @frontend-team, @backend-team

REMOVE: Commented out MCPProgressDashboard import and routes to resolve errors
  mcp-server/index.html
  mcp-server/package-lock.json
  mcp-server/package.json
  mcp-server/postcss.config.js
  mcp-server/src/App.tsx
  mcp-server/src/MCPProgressDashboard.tsx
  mcp-server/src/index.css
  mcp-server/src/main.tsx
  mcp-server/tailwind.config.js
  mcp-server/vite.config.ts
  src/App.tsx
Owners: @devops-leads, @frontend-team, @backend-team

ENHANCE: Update MCPProgressDashboard with real-time clock, detailed portal status, and milestone tracking; add new dependencies for server functionality
  mcp-server/src/MCPProgressDashboard.tsx
  package-lock.json
  package.json
Owners: @devops-leads

ENHANCE: Improve MCPProgressDashboard with additional features for user experience and performance optimization
  scripts/mcp-autonomous-job-queue.mjs
  scripts/mcp-autonomous-master-control.mjs
  scripts/mcp-real-time-agent-monitor.mjs
  scripts/start-mcp-autonomous-system.bat
Owners: @devops-leads

ENHANCE: Integrate react-markdown and remark-gfm for improved markdown rendering; update MCPProgressDashboard with real-time updates and detailed portal status
  package-lock.json
  package.json
  src/App.tsx
  src/pages/MCPProgressDashboard.tsx
Owners: @devops-leads, @frontend-team, @backend-team

UPDATE: Refactor MCPProgressDashboard to enhance portal status tracking and real-time updates; adjust overall progress calculation and improve UI responsiveness
  src/App.tsx
  src/pages/MCPProgressDashboard.tsx
Owners: @frontend-team, @backend-team

UPDATE: Adjust Vite configuration to set main website on port 3000 with relaxed port enforcement; update preview settings for improved local development experience.
  MCP_ENTERPRISE_STARTER_KIT_GUIDE.md
  MCP_FULL_MISSION_BRIEFING.md
  MCP_REAL_COMPLETION_VERIFICATION.md
  scripts/mcp-deploy-enterprise-starter.mjs
  scripts/mcp-execute-enterprise-starter.mjs
  scripts/mcp-full-mission-execution.mjs
  scripts/mcp-verify-real-completion.mjs
Owners: @devops-leads

UPDATE: Reset overall progress and portal statuses in MCPProgressDashboard to reflect new planning phase; adjust agent assignments and estimated completion dates for improved project tracking.
  mcp-server/src/MCPProgressDashboard.tsx
  scripts/mcp-complete-reset-all-portals.mjs
  scripts/mcp-fix-dashboard-restart.mjs
  scripts/mcp-reset-all-portals-to-zero.mjs
  scripts/mcp-restart-from-zero.mjs
  scripts/mcp-update-dashboard-restart.mjs
Owners: @devops-leads

.github/CODEOWNERS:

# Global owners
* @devops-leads

# Pipeline and deployment ownership
/.github/workflows/ @devops-leads @platform-team
/deployment/ @platform-team @devops-leads

# Application code ownership
/src/ @frontend-team @backend-team
/logistics-lynx/ @frontend-team @backend-team

# Configuration and documentation
/package.json @devops-leads
/package-lock.json @devops-leads
/tsconfig.json @frontend-team
/.eslintrc* @frontend-team
/.prettierrc* @frontend-team

# Infrastructure and orchestration
/orchestration/ @platform-team
/src/agents/ @platform-team
/src/autonomous/ @platform-team

# Security and compliance
/.github/security/ @security-team @devops-leads
/.github/dependabot.yml @devops-leads

# Documentation
/README.md @devops-leads
/*.md @devops-leads
