Repository ezcall100/logistics-lynx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devops-leads, @platform-team, @frontend-team, @backend-team, @security-team

.github/CODEOWNERS:

# Global owners
* @devops-leads

# Pipeline and deployment ownership
/.github/workflows/ @devops-leads @platform-team
/deployment/ @platform-team @devops-leads

# Application code ownership
/src/ @frontend-team @backend-team
/logistics-lynx/ @frontend-team @backend-team

# Configuration and documentation
/package.json @devops-leads
/package-lock.json @devops-leads
/tsconfig.json @frontend-team
/.eslintrc* @frontend-team
/.prettierrc* @frontend-team

# Infrastructure and orchestration
/orchestration/ @platform-team
/src/agents/ @platform-team
/src/autonomous/ @platform-team

# Security and compliance
/.github/security/ @security-team @devops-leads
/.github/dependabot.yml @devops-leads

# Documentation
/README.md @devops-leads
/*.md @devops-leads

Fix unused variables in EnhancedUserManagement.tsx
  src/components/super-admin/EnhancedUserManagement.tsx
Owners: @frontend-team, @backend-team

Fix remaining TypeScript errors in Super Admin components
  src/components/super-admin/AuditLoggingSystem.tsx
  src/components/super-admin/user-management/AllUsersPage.tsx
Owners: @frontend-team, @backend-team

Implement Super Admin Focus Mission Directive
  SUPER_ADMIN_FOCUS_MISSION_STATUS.md
  scripts/super-admin-scope-enforcement.mjs
  scripts/test-mcp-302-full-authority.mjs
  super-admin-focus-config.json
Owners: @devops-leads

Add new components and configuration files for Super Admin Portal and Autonomous Development
  MCP_AGENTS_LOCKED.json
  accountability-dashboard.json
  autonomous-development-activation.json
  autonomous-development-status.json
  deployment-manifest.json
  pre-commit-checklist.md
  scope-enforcement-status.json
  scripts/autonomous-development-monitor.js
  scripts/pre-commit-check.ps1
  scripts/quick-check.bat
  scripts/quick-check.ps1
  scripts/real-autonomous-development.js
  scripts/test-mcp-251-full-authority.mjs
  src/components/super-admin/AccountabilityDashboard.tsx
  src/components/super-admin/AlertIntegration.tsx
  src/components/super-admin/AutonomousDevelopmentDashboard.tsx
  src/components/super-admin/CommanderStatusReport.tsx
  src/components/super-admin/GitHubWebhookStatusWidget.tsx
  src/components/super-admin/ProgressTrackingDashboard.tsx
  src/components/super-admin/SystemMonitoringDashboard.tsx
  src/components/super-admin/SystemVerificationDashboard.tsx
  src/components/super-admin/user-management/UserGroupsPage.tsx
  src/pages/driver/DriverMobileApp.tsx
  src/pages/portals/super-admin/SuperAdminPortal.tsx
  src/pages/tms/TMSCoreApplication.tsx
  tatus
Owners: @devops-leads, @frontend-team, @backend-team

Update timestamp in autonomous-development-status.json for accurate reporting
  autonomous-development-status.json
  scope-enforcement-status.json
Owners: @devops-leads

Update timestamps in scope-enforcement-status.json for accurate reporting
  autonomous-development-status.json
  scope-enforcement-status.json
Owners: @devops-leads

Update timestamps in scope-enforcement-status.json for accurate reporting
  scope-enforcement-status.json
Owners: @devops-leads

Update timestamps and mission details in autonomous-development-status.json and scope-enforcement-status.json for accurate reporting and enhanced monitoring of Super Admin Portal focus.
  autonomous-development-status.json
  scope-enforcement-status.json
  src/pages/portals/driver/test-violation.js
Owners: @devops-leads, @frontend-team, @backend-team

Update timestamp in real-time development log to reflect recent changes
  mcp-302-real-time-development-log.json
Owners: @devops-leads

fix: resolve TypeScript errors in CompliancePortal.tsx
  src/pages/portals/compliance/CompliancePortal.tsx
Owners: @frontend-team, @backend-team

fix: resolve TypeScript errors in InsurancePortal.tsx
  src/pages/portals/insurance/InsurancePortal.tsx
Owners: @frontend-team, @backend-team

fix: resolve remaining TypeScript and ESLint errors
  src/components/CommunicationHub/CommunicationTabs.tsx
  src/components/HeroSection.tsx
  src/components/HorizontalMegaMenu.tsx
  src/components/IntelligentHeader.tsx
Owners: @frontend-team, @backend-team

Fix CI/CD pipeline issues and syntax errors
  .github/workflows/ci-cd-fix.yml
  CI_CD_FIX_SUMMARY.md
  scripts/fix-cicd-issues.mjs
  src/pages/portals/mcp-agent-admin/MCPAgentAdmin.tsx
  src/pages/portals/mcp-agents/MCPAgentsPortal.tsx
Owners: @devops-leads, @platform-team, @frontend-team, @backend-team
