Repository ezcall100/logistics-lynx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @devops-leads, @platform-team, @frontend-team, @backend-team, @security-team

.github/CODEOWNERS:

# Global owners
* @devops-leads

# Pipeline and deployment ownership
/.github/workflows/ @devops-leads @platform-team
/deployment/ @platform-team @devops-leads

# Application code ownership
/src/ @frontend-team @backend-team
/logistics-lynx/ @frontend-team @backend-team

# Configuration and documentation
/package.json @devops-leads
/package-lock.json @devops-leads
/tsconfig.json @frontend-team
/.eslintrc* @frontend-team
/.prettierrc* @frontend-team

# Infrastructure and orchestration
/orchestration/ @platform-team
/src/agents/ @platform-team
/src/autonomous/ @platform-team

# Security and compliance
/.github/security/ @security-team @devops-leads
/.github/dependabot.yml @devops-leads

# Documentation
/README.md @devops-leads
/*.md @devops-leads

Fix Vercel SPA routing configuration
  vercel.json
Owners: @devops-leads

Enhance Trans Bot AI UI and Tailwind Configuration
  README.md
  postcss.config.js
  src/App.tsx
  src/components/AIHeroSection.tsx
  src/components/DemoForm.tsx
  src/components/EcosystemGrid.tsx
  src/components/FeaturesSection.tsx
  src/components/Footer.tsx
  src/components/HeroSection.tsx
  src/components/MobileNavigation.tsx
  src/components/Navigation.tsx
  src/components/NeuralNetwork.tsx
  src/components/ResponsiveContainer.tsx
  src/components/ResponsiveGrid.tsx
  src/components/SmartLandingPage.tsx
  src/components/SmartNavigation.tsx
  src/components/TestDesign.tsx
  src/components/ThemeToggle.tsx
  src/components/TrustedBy.tsx
  src/index.css
  src/pages/CompanyPage.tsx
  src/pages/IndustriesPage.tsx
  src/pages/ResourcesPage.tsx
  src/pages/SolutionsPage.tsx
  src/pages/company/CareersPage.tsx
  src/pages/company/LeadershipPage.tsx
  src/pages/industries/EcommercePage.tsx
  src/pages/industries/ManufacturingPage.tsx
  src/pages/resources/CaseStudiesPage.tsx
  src/pages/resources/DocumentationPage.tsx
  src/pages/solutions/TransportationManagement.tsx
  src/pages/solutions/WarehouseManagement.tsx
  tailwind.config.ts
  vercel.json
Owners: @devops-leads, @frontend-team, @backend-team

Add Super Admin Portal and Update Navigation Logic
  src/App.tsx
  src/components/SmartNavigation.tsx
  src/pages/DashboardPage.tsx
  src/pages/super-admin/SuperAdminPortal.tsx
Owners: @frontend-team, @backend-team

Refactor DashboardPage and remove SuperAdminDashboard component
  src/pages/DashboardPage.tsx
  src/pages/super-admin/SuperAdminPortal.tsx
Owners: @frontend-team, @backend-team

Add new pages and update navigation structure
  src/App.tsx
  src/components/SmartNavigation.tsx
  tat -an  findstr 3000
Owners: @frontend-team, @backend-team, @devops-leads

Add Transportation and Warehouse Management pages with updated navigation
  src/App.tsx
  src/components/SmartNavigation.tsx
  src/pages/solutions/TransportationManagement.tsx
  src/pages/solutions/WarehouseManagement.tsx
Owners: @frontend-team, @backend-team

Enhance Tailwind Configuration and Update App Structure
  src/App.tsx
  src/components/Footer.tsx
  src/components/MegaMenuHeader.tsx
  src/components/MobileNavigation.tsx
  src/components/ModernHeader.tsx
  src/components/SmartNavigation.tsx
  src/pages/solutions/TransportationManagement.tsx
  tailwind.config.js
Owners: @frontend-team, @backend-team, @devops-leads

Refactor App Structure and Enhance Pricing and Resources Pages
  src/App.tsx
  src/components/ModernLandingPage.tsx
  src/components/NeuralBackground.tsx
  src/components/SmartSidebar.tsx
  src/components/WorldClassHeader.tsx
  src/pages/PricingPage.tsx
  src/pages/ResourcesPage.tsx
  src/pages/SolutionsPage.tsx
  tat -an  findstr 3000
Owners: @frontend-team, @backend-team, @devops-leads

Enhance UI Components and Layout in App
  src/App.tsx
  src/components/FloatingActionButton.tsx
  src/components/SmartSidebar.tsx
  src/components/WorldClassHeader.tsx
  src/pages/CompanyPage.tsx
  src/pages/PricingPage.tsx
  src/pages/ResourcesPage.tsx
Owners: @frontend-team, @backend-team

Update Layout and Responsiveness for App Components
  src/App.tsx
  src/components/SmartSidebar.tsx
  src/components/WorldClassHeader.tsx
Owners: @frontend-team, @backend-team

Refactor App and Sidebar Navigation, Remove Deprecated Webhook Script
  src/App.tsx
  src/components/SmartSidebar.tsx
  src/pages/ai-agents/load-matcher/LoadMatcher.tsx
  src/pages/ai-agents/route-optimizer/RouteOptimizer.tsx
  src/pages/solutions/transportation/TransportationManagement.tsx
  src/services/webhookService.ts
  test-webhook.ps1
Owners: @frontend-team, @backend-team, @devops-leads

Refactor App Structure and Update Navigation Components
  src/App.tsx
  src/components/AdvancedFAB.tsx
  src/components/ComprehensiveSidebar.tsx
  src/components/IntelligentHeader.tsx
  src/components/IntelligentSidebar.tsx
  src/components/SimplifiedHeader.tsx
  src/components/SmartSidebar.tsx
  src/components/WorldClassHeader.tsx
  src/pages/ai-agents/fleet-manager/FleetManager.tsx
  src/pages/ai-agents/load-matcher/LoadMatcher.tsx
  src/pages/ai-agents/predictive-analytics/PredictiveAnalytics.tsx
  src/pages/portals/admin/AdminPortal.tsx
  src/pages/portals/analytics/AnalyticsPortal.tsx
  src/pages/portals/autonomous/AutonomousPortal.tsx
  src/pages/portals/broker/BrokerPortal.tsx
  src/pages/portals/carrier/CarrierPortal.tsx
  src/pages/portals/crm/CRMPortal.tsx
  src/pages/portals/customer/CustomerPortal.tsx
  src/pages/portals/developer/DeveloperPortal.tsx
  src/pages/portals/directory/DirectoryPortal.tsx
  src/pages/portals/driver/DriverPortal.tsx
  src/pages/portals/financials/FinancialsPortal.tsx
  src/pages/portals/load-board/LoadBoardPortal.tsx
  src/pages/portals/marketplace/MarketplacePortal.tsx
  src/pages/portals/partner/PartnerPortal.tsx
  src/pages/portals/rates/RatesPortal.tsx
  src/pages/portals/shipper/ShipperPortal.tsx
  src/pages/portals/yms/YMSPortal.tsx
  src/pages/solutions/transportation/TransportationManagement.tsx
Owners: @frontend-team, @backend-team

Refactor Portal Components to Remove Unused States and Imports
  src/pages/portals/analytics/AnalyticsPortal.tsx
  src/pages/portals/autonomous/AutonomousPortal.tsx
  src/pages/portals/carrier/CarrierPortal.tsx
  src/pages/portals/crm/CRMPortal.tsx
  src/pages/portals/directory/DirectoryPortal.tsx
  src/pages/portals/driver/DriverPortal.tsx
  src/pages/portals/financials/FinancialsPortal.tsx
  src/pages/portals/load-board/LoadBoardPortal.tsx
  src/pages/portals/marketplace/MarketplacePortal.tsx
  src/pages/portals/rates/RatesPortal.tsx
  src/pages/portals/shipper/ShipperPortal.tsx
  src/pages/portals/yms/YMSPortal.tsx
Owners: @frontend-team, @backend-team

Enhance UI Consistency and Accessibility Across Portal Components
  src/components/ComprehensiveSidebar.tsx
  src/components/SimplifiedHeader.tsx
  src/pages/portals/admin/AdminPortal.tsx
  src/pages/portals/analytics/AnalyticsPortal.tsx
  src/pages/portals/autonomous/AutonomousPortal.tsx
  src/pages/portals/broker/BrokerPortal.tsx
  src/pages/portals/carrier/CarrierPortal.tsx
  src/pages/portals/crm/CRMPortal.tsx
  src/pages/portals/customer/CustomerPortal.tsx
  src/pages/portals/developer/DeveloperPortal.tsx
  src/pages/portals/directory/DirectoryPortal.tsx
  src/pages/portals/driver/DriverPortal.tsx
  src/pages/portals/financials/FinancialsPortal.tsx
  src/pages/portals/load-board/LoadBoardPortal.tsx
  src/pages/portals/marketplace/MarketplacePortal.tsx
  src/pages/portals/partner/PartnerPortal.tsx
  src/pages/portals/rates/RatesPortal.tsx
  src/pages/portals/shipper/ShipperPortal.tsx
  src/pages/portals/yms/YMSPortal.tsx
  tailwind.config.js
Owners: @frontend-team, @backend-team, @devops-leads

Integrate Sidebar Functionality and Enhance Layout in App
  src/App.tsx
  src/components/ComprehensiveSidebar.tsx
  src/components/Layout.tsx
  src/components/SimplifiedHeader.tsx
  src/contexts/SidebarContext.tsx
  src/pages/DashboardPage.tsx
Owners: @frontend-team, @backend-team

Refactor ComprehensiveSidebar to Remove Unused Toggle Functionality
  src/components/ComprehensiveSidebar.tsx
Owners: @frontend-team, @backend-team

Update ComprehensiveSidebar and ModernLandingPage for Improved Clarity and Consistency
  src/App.tsx
  src/components/ComprehensiveSidebar.tsx
  src/components/EnhancedHomePage.tsx
  src/components/ModernLandingPage.tsx
Owners: @frontend-team, @backend-team

Refactor App and UI Components for Enhanced Consistency and Usability
  src/App.tsx
  src/components/AIAgentVisualization.tsx
  src/components/AIHeroSection.tsx
  src/components/CinematicDemo.tsx
  src/components/ComprehensiveSidebar.tsx
  src/components/EcosystemGrid.tsx
  src/components/EnhancedHomePage.tsx
  src/components/FeaturesSection.tsx
  src/components/Header.tsx
  src/components/HeroSection.tsx
  src/components/HorizontalMegaMenu.tsx
  src/components/Layout.tsx
  src/components/MobileNavigation.tsx
  src/components/Navigation.tsx
  src/components/NeuralNetwork.tsx
  src/components/PortalLayout.tsx
  src/components/ResponsiveTest.tsx
  src/components/SimplifiedHeader.tsx
  src/components/SmartLandingPage.tsx
  src/components/SmartNavigation.tsx
  src/components/SubdomainApplicationForm.tsx
  src/components/TestDesign.tsx
  src/components/ThemeToggle.tsx
  src/contexts/AuthContext.tsx
  src/pages/GetStartedPage.tsx
  src/pages/LoginPage.tsx
  src/pages/ResourcesPage.tsx
  src/pages/SignupPage.tsx
  src/pages/admin/SubdomainManagement.tsx
  src/pages/portals/admin/HumanDeveloperAdmin.tsx
  src/pages/portals/admin/MCPAgentAdmin.tsx
  src/pages/portals/broker/BrokerPortal.tsx
  src/pages/portals/broker/EnhancedBrokerPortal.tsx
  src/pages/portals/super-admin/SuperAdminPortal.tsx
  src/pages/solutions/TransportationManagement.tsx
  src/pages/super-admin/SuperAdminPortal.tsx
  src/services/authService.ts
  src/services/subdomainService.ts
Owners: @frontend-team, @backend-team

Update App and HorizontalMegaMenu for Improved Navigation and Content Structure
  src/App.tsx
  src/components/HorizontalMegaMenu.tsx
  src/components/OutstandingHomePage.tsx
Owners: @frontend-team, @backend-team

Add New Portal Routes for EDI, Owner Operator, Workers, and Factoring
  src/App.tsx
  src/pages/portals/edi/EDIPortal.tsx
  src/pages/portals/factoring/FactoringPortal.tsx
  src/pages/portals/owner-operator/OwnerOperatorPortal.tsx
  src/pages/portals/workers/WorkersPortal.tsx
Owners: @frontend-team, @backend-team

Add Enhanced Broker Portal and Update Horizontal Mega Menu
  src/App.tsx
  src/components/HorizontalMegaMenu.tsx
Owners: @frontend-team, @backend-team

Enhance Horizontal Mega Menu with Improved Portal Organization
  src/components/HorizontalMegaMenu.tsx
Owners: @frontend-team, @backend-team

Remove ResponsiveTest Component and Update App Structure
  src/App.tsx
  src/components/ResponsiveTest.tsx
Owners: @frontend-team, @backend-team

Add New Routes and Components for Enhanced User Experience
  src/App.tsx
  src/components/HorizontalMegaMenu.tsx
  src/pages/CompanyPage.tsx
  src/pages/solutions/LoadMatching.tsx
  src/pages/solutions/RouteOptimization.tsx
Owners: @frontend-team, @backend-team

Enhance Application with New Features and Improved Navigation
  BACKUP-PLAN.md
  backup-server-restart.js
  emergency-fallback.js
  master-control.js
  package.json
  quick-start.js
  src/App.tsx
  src/components/HorizontalMegaMenu.tsx
  src/pages/resources/APIDocumentationPage.tsx
  src/pages/resources/BlogPage.tsx
  src/pages/resources/CaseStudiesPage.tsx
  src/pages/resources/HelpCenterPage.tsx
  src/pages/resources/WebinarsPage.tsx
  src/pages/solutions/CRMSolution.tsx
  src/pages/solutions/FinancialManagementSolution.tsx
  src/pages/solutions/FleetManagement.tsx
  src/pages/solutions/LastMileDelivery.tsx
  src/pages/solutions/LoadBoardSolution.tsx
  src/pages/solutions/PredictiveAnalytics.tsx
  src/pages/solutions/YardManagementSolution.tsx
  test-all-pages.js
  vite.config.ts
Owners: @devops-leads, @frontend-team, @backend-team

Add New Solution Routes and Update Horizontal Mega Menu
  src/App.tsx
  src/components/HorizontalMegaMenu.tsx
  src/pages/solutions/BrokerSolutions.tsx
  src/pages/solutions/CarrierSolutions.tsx
  src/pages/solutions/DriverSolutions.tsx
  src/pages/solutions/OwnerOperatorSolutions.tsx
  src/pages/solutions/ShipperSolutions.tsx
Owners: @frontend-team, @backend-team

Update Server and Fallback Port Configurations, Enhance Vite Settings, and Refactor Component Imports
  backup-server-restart.js
  emergency-fallback.js
  quick-start.js
  src/App.tsx
  src/components/HorizontalMegaMenu.tsx
  src/pages/resources/APIDocumentationPage.tsx
  src/pages/resources/BlogPage.tsx
  src/pages/resources/CaseStudiesPage.tsx
  src/pages/resources/WebinarsPage.tsx
  src/pages/solutions/CRMSolution.tsx
  src/pages/solutions/FinancialManagementSolution.tsx
  src/pages/solutions/LoadBoardSolution.tsx
  src/pages/solutions/YardManagementSolution.tsx
  vite.config.ts
Owners: @devops-leads, @frontend-team, @backend-team

Add Test and Deploy Scripts to package.json, Clean Up tsconfig.json
  package.json
  tsconfig.json
Owners: @devops-leads, @frontend-team

Refactor tsconfig.json for Improved Formatting
  tsconfig.json
Owners: @frontend-team

Add New AI Agent Components and Update Navigation
  src/App.tsx
  src/components/HorizontalMegaMenu.tsx
  src/pages/ai-agents/carbon-optimizer/CarbonOptimizer.tsx
  src/pages/ai-agents/customer-experience/CustomerExperience.tsx
  src/pages/ai-agents/demand-forecaster/DemandForecaster.tsx
  src/pages/ai-agents/fuel-optimizer/FuelOptimizer.tsx
  src/pages/ai-agents/maintenance-predictor/MaintenancePredictor.tsx
  src/pages/ai-agents/price-optimizer/PriceOptimizer.tsx
  src/pages/ai-agents/risk-assessment/RiskAssessment.tsx
  src/pages/ai-agents/smart-warehouse/SmartWarehouse.tsx
Owners: @frontend-team, @backend-team

Update HorizontalMegaMenu Icons for Improved Clarity
  src/components/HorizontalMegaMenu.tsx
Owners: @frontend-team, @backend-team

Add Company Pages and Update Footer for Enhanced Navigation
  src/App.tsx
  src/components/Footer.tsx
  src/pages/PortalsPage.tsx
  src/pages/ai-agents/carbon-optimizer/CarbonOptimizer.tsx
  src/pages/ai-agents/customer-experience/CustomerExperience.tsx
  src/pages/ai-agents/maintenance-predictor/MaintenancePredictor.tsx
  src/pages/ai-agents/risk-assessment/RiskAssessment.tsx
  src/pages/ai-agents/smart-warehouse/SmartWarehouse.tsx
  src/pages/company/AboutPage.tsx
  src/pages/company/ContactPage.tsx
  src/pages/portals/analytics/AnalyticsPortal.tsx
  src/pages/portals/broker/BrokerPortal.tsx
  src/pages/portals/carrier/CarrierPortal.tsx
  src/pages/portals/customer/CustomerPortal.tsx
  src/pages/portals/developer/DeveloperPortal.tsx
  src/pages/portals/driver/DriverPortal.tsx
  src/pages/portals/partner/PartnerPortal.tsx
  src/pages/portals/shipper/ShipperPortal.tsx
Owners: @frontend-team, @backend-team

Enhance Portals and Admin Functionality with New Routes and Features
  src/App.tsx
  src/pages/PortalsPage.tsx
  src/pages/portals/admin/AdminPortal.tsx
  src/pages/portals/autonomous/AutonomousPortal.tsx
  src/pages/portals/super-admin/SuperAdminPortal.tsx
Owners: @frontend-team, @backend-team

Refactor Portals and Enhance User Experience with New Features
  src/components/HorizontalMegaMenu.tsx
  src/components/portals/PortalHeader.tsx
  src/components/portals/PortalLayout.tsx
  src/pages/PortalsPage.tsx
  src/pages/portals/broker/BrokerPortal.tsx
  src/pages/portals/customer/CustomerPortal.tsx
Owners: @frontend-team, @backend-team

Add New Portal Routes and Refactor Header Components
  src/App.tsx
  src/pages/portals/admin/HumanDeveloperAdmin.tsx
  src/pages/portals/admin/MCPAgentAdmin.tsx
  src/pages/portals/crm/CRMPortal.tsx
  src/pages/portals/directory/DirectoryPortal.tsx
  src/pages/portals/edi/EDIPortal.tsx
  src/pages/portals/factoring/FactoringPortal.tsx
  src/pages/portals/financials/FinancialsPortal.tsx
  src/pages/portals/load-board/LoadBoardPortal.tsx
  src/pages/portals/marketplace/MarketplacePortal.tsx
  src/pages/portals/owner-operator/OwnerOperatorPortal.tsx
  src/pages/portals/rates/RatesPortal.tsx
  src/pages/portals/workers/WorkersPortal.tsx
  src/pages/portals/yms/YMSPortal.tsx
Owners: @frontend-team, @backend-team

Add New Portal Features and Update Navigation
  src/App.tsx
  src/components/HorizontalMegaMenu.tsx
  src/pages/PortalsPage.tsx
  src/pages/portals/admin/HumanDeveloperAdmin.tsx
  src/pages/portals/admin/MCPAgentAdmin.tsx
  src/pages/portals/broker/EnhancedBrokerPortal.tsx
  src/pages/portals/compliance/CompliancePortal.tsx
  src/pages/portals/crm/CRMPortal.tsx
  src/pages/portals/directory/DirectoryPortal.tsx
  src/pages/portals/dispatch/DispatchPortal.tsx
  src/pages/portals/edi/EDIPortal.tsx
  src/pages/portals/factoring/FactoringPortal.tsx
  src/pages/portals/financials/FinancialsPortal.tsx
  src/pages/portals/fleet/FleetPortal.tsx
  src/pages/portals/fuel/FuelPortal.tsx
  src/pages/portals/insurance/InsurancePortal.tsx
  src/pages/portals/load-board/LoadBoardPortal.tsx
  src/pages/portals/maintenance/MaintenancePortal.tsx
  src/pages/portals/marketplace/MarketplacePortal.tsx
  src/pages/portals/owner-operator/OwnerOperatorPortal.tsx
  src/pages/portals/rates/RatesPortal.tsx
  src/pages/portals/warehouse/WarehousePortal.tsx
  src/pages/portals/workers/WorkersPortal.tsx
  src/pages/portals/yms/YMSPortal.tsx
Owners: @frontend-team, @backend-team

Update Dependencies, Enhance Auth Context, and Refactor Pages
  index-portal.html
  package-lock.json
  package.json
  src/App.tsx
  src/PortalLogin.tsx
  src/StandaloneDashboard.tsx
  src/components/auth/ProtectedRoute.tsx
  src/components/layout/CompactSidebar.tsx
  src/components/layout/FloatingActionButton.tsx
  src/components/layout/HorizontalMenu.tsx
  src/components/portals/UnifiedPortalLayout.tsx
  src/contexts/AuthContext.tsx
  src/main-portal.tsx
  src/pages/DashboardPage.tsx
  src/pages/LoginPage.tsx
  src/pages/MinimalDashboard.tsx
  src/pages/PortalApp.tsx
  src/pages/PortalEntry.tsx
  src/pages/SignupPage.tsx
  src/pages/SimpleDashboard.tsx
  src/pages/TestAuth.tsx
  src/pages/TestDashboard.tsx
  src/pages/auth/LoginPage.tsx
  src/pages/auth/SignupPage.tsx
  src/pages/profile/CompanyProfile.tsx
  src/pages/profile/UserProfile.tsx
  src/pages/settings/AccountSettings.tsx
  vite.portal.config.ts
Owners: @devops-leads, @frontend-team, @backend-team

Update Portal Structure and Styling
  index-portal.html
  restart-portal.bat
  src/StandalonePortalApp.tsx
  src/main-portal.tsx
  src/portal.css
  start-servers.bat
  vite.portal.config.ts
Owners: @devops-leads, @frontend-team, @backend-team

Enhance Portal Styling and CSS Management
  index-portal.html
  src/main-portal.tsx
Owners: @devops-leads, @frontend-team, @backend-team

Refactor Dashboard and Portal Components
  src/App.tsx
  src/StandaloneDashboard.tsx
  src/StandalonePortalApp.tsx
  src/pages/PortalApp.tsx
Owners: @frontend-team, @backend-team
